---
permalink: /humans.txt
eleventyExcludeFromCollections: true
layout: null
date: Last Modified
use_plugin_seo: false
---

{% set githubList = githubContributors | default([]) %}
{% set coauthors = widget.host.list | default([]) %}

/* WHO */

  Adam DJ Brett
  Website: adamdjbrett.com

{% if coauthors | length %}
/* CO-AUTHORS */
  {% for author in coauthors %}
  {{ author.name }}
  {% if author.page %}{% set profilePath = author.page | url %}Profile: {{ metadata.url | default('https://dominationchronicles.com') }}{{ profilePath }}{% endif %}
  {% if author.text %}Focus: {{ author.text | striptags | truncate(140) }}{% endif %}
  {% endfor %}
{% endif %}

/* THANKS */
  Username: Creativas.dev
  Website: https://creativas.dev

  Eleventy Creator: Zachleat
  Twitter: @zachleat

{% if githubList | length %}
/* GITHUB CONTRIBUTORS */
  {% for contributor in githubList %}
  {{ contributor.login }} ({{ contributor.contributions }} commits)
  Profile: {{ contributor.url }}
  {% endfor %}
{% endif %}

/* Credits */

  Static Site Generator: Eleventy
  Website: https://11ty.dev

/* SITE */

  Last update: {{ page.date }}
  Language: English
  Generator: Eleventy
  Theme: ILI