---
permalink: /humans.txt
eleventyExcludeFromCollections: true
---
/* TEAM */
Site: {{ site.title or metadata.title or 'Website' }}
Author: {{ site.author or metadata.author or 'Editorial Team' }}

/* TECHNOLOGY */
Powered by Eleventy
