<!doctype html>
<html lang="{{ metadata.language }}">
<meta name="viewport" content="width=device-width">
{% include "partials/seo.njk" %}
</head>
<body>
<a href="#main" id="skip-link" class="visually-hidden">Skip to main content</a>
{% include "partials/navbar.njk" %}
<main class="container" id="main">
{{ content | safe }}
</main>
{% include "partials/footer.njk" %}
<script>{% include "public/js/bs.js" %}</script>
<script>{% include "public/js/script.js" %}</script>

<script type="module">{% getBundle "js" %}</script>
<link rel="stylesheet" 
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" 
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" 
      crossorigin="anonymous" 
      media="print" 
      onload="this.media='all'" 
/>
<noscript>
     <link rel="stylesheet" 
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" 
          integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" 
          crossorigin="anonymous" 
    />
</noscript>
</body>
</html> 