---
layout: base.njk
---
<div class="container mt-3 mb-5">
<div class="col-md-10 mx-auto p-3 p-md-5 mt-5 text-center">
<h1>{{title}}</h1>
<h2 class="lead">{{description}}</h2>
</div>
<div class="row mt-3 text-center justify-content-center">
{% if subscribe and subscribe | length %}
{% for service in subscribe %}
    <div class="col-md-4 p-3">
	<div class="rounded-3 p-3 p-md-5 shadow" style="background-color:black;">
      <a class="none" href="{{ service.link }}" target="_blank" rel="noopener noreferrer" title="Listen on {{ service.name }}">
        <img src="{{ service.icon }}" class="img-fluid bg-white rounded-3 p-1 mb-3" 
		alt="Listen on {{ service.name }}" style="max-width:100%; max-height:60px;object-fit:cover;"
		loading="lazy" decoding="async">
        <p><span>{{ service.name }}</span></p>
      </a>
    </div>
    </div>
  {% endfor %}
{% endif %}
</div>
</div>
