<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": ["EducationalOrganization", "Organization"],
      "@id": "https://dominationchronicles.com/#org",
      "name": "The Domination Chronicles",
      "url": "https://dominationchronicles.com/",
      "logo": "https://dominationchronicles.com/img/icon.svg",
      "image": "https://dominationchronicles.com/img/banner-full.jpg",
      "description": "Domination Chronicles is a podcast where Steven T. Newcomb (Shawnee/Lenape) and Peter d’Errico examine how domination shaped the legal and political foundations of the United States. They draw on decades of research into the Doctrine of Christian Discovery, federal Indian law, and Indigenous resistance.",
      "sameAs": [
        "https://www.youtube.com/@DominationChronicles",
        "https://bsky.app/profile/dominationchron.bsky.social",
        "https://mastodon.social/@DominationChronicles",
        "https://x.com/dominationchron",
        "https://www.facebook.com/dominationchronicles/",
        "https://www.instagram.com/dominationchronicles/",
        "https://vimeo.com/ondemand/dominationcode",
        "https://redcircle.com/dominationchronicles",
        "https://open.spotify.com/show/5nJ8uS50Kn7UWxzZdhosWs",
        "https://podcasts.apple.com/us/podcast/the-domination-chronicles-podcast/id1855325100",
        "https://music.amazon.com/podcasts/7667ac57-fe76-43af-8577-fb9176603c4f"
      ],
      "address": {
        "@type": "PostalAddress",
        "postOfficeBoxNumber": "P.O. Box 188",
        "addressLocality": "Alpine",
        "addressRegion": "CA",
        "postalCode": "91903",
        "addressCountry": "US"
      }
    },

    {
      "@type": "PodcastSeries",
      "@id": "https://dominationchronicles.com/#podcast",
      "name": "The Domination Chronicles",
      "url": "https://dominationchronicles.com/",
      "description": "Domination Chronicles is a podcast where Steven T. Newcomb (Shawnee/Lenape) and Peter d’Errico examine how domination shaped the legal and political foundations of the United States.",
      "image": "https://dominationchronicles.com/img/banner-full.jpg",
      "thumbnailUrl": "https://dominationchronicles.com/img/icon.svg",
      "inLanguage": "en",
      "publisher": { "@id": "https://dominationchronicles.com/#org" },
      "creator": [
        { "@id": "https://stevennewcomb.com/#person" },
        { "@id": "https://peterderrico.substack.com/#person" },
        { "@id": "https://adamdjbrett.com/#person" }
      ]
    },

    {
      "@type": "Person",
      "@id": "https://stevennewcomb.com/#person",
      "name": "Steven T. Newcomb",
      "url": "https://stevennewcomb.com",
      "jobTitle": "Original Free Nations Advocate",
      "nationality": "Shawnee & Lenape",
      "image": "https://stevennewcomb.com/images/author.webp"
    },

    {
      "@type": "Person",
      "@id": "https://peterderrico.substack.com/#person",
      "name": "Peter d’Errico",
      "url": "https://peterderrico.substack.com",
      "image": "https://dominationchronicles.com/img/peter-derrico.webp"
    },

    {
      "@type": "Person",
      "@id": "https://adamdjbrett.com/#person",
      "name": "Adam DJ Brett",
      "url": "https://adamdjbrett.com/",
      "image": "https://www.adamdjbrett.com/assets/img/adam-dj-brett-256x256-min.jpg"
    }
  ]
}
</script>