<title>{{title or metadata.title}}</title>
<meta content="{{(title or metadata.title) | escape}}" name="title" />
<meta content="{{(description or metadata.description) | escape}}" name="description" />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta content="{{(title or metadata.title) | escape}}" property="og:title" />
<meta content="{{(title or metadata.title) | escape}}" property="og:site_name" />
<meta content="{{(description or metadata.description) | escape}}" property="og:description" />
<meta content="{{image or metadata.image}}" property="og:image" />
<meta property="og:locale" content="{{ metadata.locale }}" />
<meta content="{{image or metadata.image}}" name="facebook:image" />
<meta content="{{(description or metadata.description) | escape}}" property="facebook:description" />
<meta content="{{ metadata.metasocial.facebook }}" property="facebook:author" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta content="{{(title or metadata.title) | escape}}" name="twitter:title" />
<meta content="{{(description or metadata.description) | escape}}" name="twitter:description" />
<meta content="{{image or metadata.image}}" name="twitter:image" />
<meta content="{{ metadata.metasocial.twitteruser }}" property="twitter:author" />
<meta content="{{ metadata.metasocial.twitter }}" name="twitter:site" />

<!-- Dublin Core -->
<meta content="{{(title or metadata.title) | escape}}" property="dc:title" />
<meta property="dc:creator" content="{{ metadata.author.name }}" />
<link href="{{ metadata.favicon }}" rel="icon" type="image/x-icon" />
<link rel="icon" type="image/png" href="/img/favicon/favicon-96x96.png" sizes="96x96" />
<!-- Favicon and touch icons -->
<link rel="icon" type="image/svg+xml" href="/img/favicon/favicon.svg" />
<link rel="shortcut icon" href="/img/favicon/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="Domination Chronicles" />
<link rel="manifest" href="/img/favicon/site.webmanifest" />

<!-- Additional Meta -->
<meta name="fediverse:creator" content="@dominationchronicles@mastodon.social" />
<meta content="index, follow" name="robots" />
<link rel="canonical" href="{{ metadata.url }}{{ page.url }}" />
<meta name="language" content="{{ metadata.language }}" />
<meta name="locale" content="{{ metadata.locale }}" />
<!-- Feeds -->
<meta name="generator" content="{{ eleventy.generator }}" />
<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
<style>{% include "css/index.css" %}{% include "css/style.css" %}{% getBundle "css" %}</style>
<script type="module">{% include "node_modules/@zachleat/heading-anchors/heading-anchors.js" %}</script>