<section id="podcast-feed-latest" class="py-5 container p-3">
    <h2 class="display-6 text-center mb-4 bg-dark"><a href="{{page.url}}">{{ widget.rss.title }}</a></h2>
    <p class="text-center text-white mb-5">{{ widget.rss.text }}</p>

    <div id="podcast-feed-container" class="instagram-grid"> 
        {%- if podcast and podcast.length > 0 -%}
            {%- for episode in podcast -%}
            <div class="card bg-dark-secondary h-100 border-0 shadow-sm podcast-feed-item">
                <a href="{{ episode.url }}" title="{{ episode.title }}">
                    <picture>
            <source type="image/webp" 
                    data-srcset="{{ episode.image }} 400w, {{ episode.image }} 800w"
                    data-sizes="(max-width: 600px) 400px, 800px">            
            <img class="lazy-load-image card-img-top"
                 src="/img/icon.webp" data-src="{{ episode.image }}"
                 data-srcset="{{ episode.image }} 400w, {{ episode.image }} 800w"
                 data-sizes="(max-width: 600px) 400px, 800px"
                 width="100%" height="100%"
                 alt="Podcast Episode: {{ episode.title }}"
                 loading="lazy">
        </picture>
        <div class="card-body">
                    <h3 class="lead">{{ episode.title }}</h3>
                    </div>
                </a>
            </div>
            {%- endfor -%}
        {%- else -%}
        {%- endif -%}
    </div>
</section>